<!DOCTYPE html>
<html>
  <head>
    <title>Simple Group Chat on Node.js</title>
    <style>
    </style>
    <script src="../../socket.io/socket.io.js"></script>
    <script src="/jquery/jquery.js"></script>
  </head>
  <body>
    <ul id="users"></ul>
    <form action="/" method="POST" id="chatForm">
      <input id="txt" autocomplete="off" autofocus="on" placeholder="type your name here..." />
      <button>Send</button>
    </form>
    <script>
            const socket = io();

            // submit text message without reload/refresh the page
            $('form').submit(function(e){
                e.preventDefault(); // prevents page reloading
                socket.emit('username', $('#txt').val());
                var parent = document.getElementsByTagName("BODY")[0]
                var child = document.getElementById("chatForm");
                parent.removeChild(child);
                return false;
            });
    </script>
  </body>
</html>